<section class="page fullwidth-custom">
  <h2 class="theme inset-banner"><span>{{ page.title }}</span></h2>
	{{ page.content }}





<section class="page">
        <center><h2 style= "padding-top: 60px">Current Flavors</h2><center>   
<p style="text-align: center;"> Available for wholesale/bulk orders! <a href="/pages/contact" title="Contact Us" style="text-decoration: underline;">Contact us</a> to place an order or to customize your own truffles.</p>
</section>
   
  
  <section class="minis-grid">
    
        <div class="row">
       
      
       <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/lily1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/lily2.jpg?17355165331979096289" />
        </div>
        <h3>Lily</h3>
        <p>Marble Cake</p>
       </div>
       
          
          <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/harper1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/harper2.jpg?17355165331979096289" />
        </div>
        <h3>Harper</h3>
        <p>Salted Caramel Blondie</p>
      </div>
      
      
                <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/grace1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/grace2.jpg?17355165331979096289" />
        </div>
        <h3>Grace</h3>
        <p>Gluten-Free Chocolate Cake</p>
      </div>
      
            <div class="mini">
        <div class="cutaway">
      		<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/mia1.jpg?17355165331979096289" />
        	<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/mia2.jpg?17355165331979096289" />
        </div>
      	<h3>Mia</h3>
        <p>Chocolate Cake</p>
        </div>
      
         
    </div>
    
    
        	<div class="row">
          
                   
          <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/rose1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/rose2.jpg?17355165331979096289" />
        </div>
        <h3>Rose</h3>
        <p>Banana Bread</p>
      </div>  


      <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/emma1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/emma2.jpg?17355165331979096289" />
        </div>
        <h3>Emma</h3>
        <p>Gluten-Free Peanut Butter</p>
      </div>   
      
      
            <div class="mini">
        <div class="cutaway">
      		<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/Alice1.jpg?17355165331979096289" />
        	<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/Alice2.jpg?17355165331979096289" />
        </div>
        <h3>Alice</h3>
        <p>Chocolate Chip Cookie</p>
      </div>
      
            <div class="mini">
        <div class="cutaway">
      		<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/kate1.jpg?17355165331979096289" />
        	<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/kate2.jpg?17355165331979096289" />
        </div>
      	<h3>Kate</h3>
        <p>Cookies 'n Cream Fudge</p>
          </div>
      
         
    </div>
    
    
        	<div class="row">
              
              
            
      <div class="mini">
        <div class="cutaway">
      		<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/pearl1.jpg?17355165331979096289" />
        	<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/pearl2.jpg?17355165331979096289" />
        </div>
      	<h3>Pearl</h3>
        <p>Red Velvet</p>	
        </div>
      
      <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/zoe1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/zoe2.jpg?17355165331979096289" />
        </div>
        <h3>Zoe</h3>
        <p>Rainbow</p>
        </div>
      
        

</div>




    


</section>
    
    
    

    

 <section class="page">
        <center><h2 style= "padding-top: 75px">Seasonal Flavors</h2><center>   
<p style="text-align: center;">The flavors shown below have been featured at one time as seasonal truffles. They are all available for custom orders. If you would like to order any of the flavors shown below, please contact our Customer Service Team by emailing <a href="mailto:info@minimelanie.com" title="Contact Us" style="text-decoration: underline;">info@minimelanie.com</a>.</p>
</section>

  <section class="minis-grid">
    
        <div class="row">
            
      <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/riley1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/riley2.jpg?17355165331979096289" />
        </div>
        <h3>Riley</h3>
        <p>S'mores</p>
      </div>          

               
	
                        
        <div class="mini">
        <div class="cutaway">
      		<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/Penny-1.jpg?16936226508956273407" />
        	<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/penny-2.jpg?18177112431633880477" />
        </div>
      	<h3>Penny</h3>
        <p>Pumpkin Spice</p>
      </div>   
           
           
                           <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/sophie-smaller1.jpg?2041873857894324915" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/sophie-smaller2.jpg?2041873857894324915" />
        </div>
        <h3>Sophie</h3>
        <p>Snickerdoodle</p>
          </div>    
          
             <div class="mini">
        <div class="cutaway">
      		<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/gingerbread-200.jpg?14986290201926190848" />
        	<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/gingerbread-slice-200.jpg?14986290201926190848" />
        </div>
      	<h3>Gigi</h3>
        <p>Gingerbread</p>
     </div>  
          
          </div>
          
          
  <div class="row"> 
    
  
           
 	<div class="mini">
        <div class="cutaway">
      		<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/peppermint-200.jpg?14986290201926190848" />
        	<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/peppermint-slice-200.jpg?14986290201926190848" />
        </div>
      	<h3>Mary</h3>
        <p>Chocolate Peppermint Cookie</p>
     </div> 
         


      
              <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/t/5/assets/spring_1.png?4634153374906403117"  />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/t/5/assets/spring_2.png?13134112355744132114"  />
          
        </div>
        <h3>Poppy</h3>
        <p>Lemon Poppy Seed Bundt</p>
      </div>  
      
      
      
      

      <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/t/5/assets/spring_3.png?13293062910950696421" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/t/5/assets/spring_4.png?11535102295642950006" />
        </div>
        <h3>Ivy</h3>
        <p>Pistachio Financier</p>
      </div> 
        
        
        <div class="mini">
<div class="cutaway">
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/pinkunicornfudge1.jpg?291396003632013070" />
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/pinkunicornfudge2.jpg?291396003632013070" />
</div>
<h3>Pink Unicorn Fudge</h3>
</div>

               </div>
     
      <div class="row"> 

<div class="mini">
<div class="cutaway">
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/raspberrychocolatecaramel1.jpg?291396003632013070" />
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/raspberrychocolatecaramel2.jpg?291396003632013070" />
</div>
<h3>Raspberry Chocolate Caramel</h3>
</div>
   
      
      
      
        <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/boyohboy1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/boyohboy2.jpg?17355165331979096289" />
        </div>
        <h3>Boy Oh Boy!</h3>
        <p>Vanilla & Chocolate Cake</p>
      </div>
    
    
   <div class="mini">
<div class="cutaway">
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/omgirl1.jpg?17355165331979096289" />
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/omgirl2.jpg?17355165331979096289" />
</div>
<h3>O.M.Girl</h3>
<p>Vanilla & Chocolate Cake</p>
</div>


        
      <div class="mini">
        <div class="cutaway">
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/olivia1.jpg?17355165331979096289" />
          <img src="https://cdn.shopify.com/s/files/1/1418/7404/files/olivia2.jpg?17355165331979096289" />
        </div>
        <h3>Olivia</h3>
        <p>Gluten-Free Vanilla Cake</p>
      </div>
      
            </div>
     
      
         
          <div class="row"> 
    
    <div class="mini">
<div class="cutaway">
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/strawberrycheesecake1.jpg?291396003632013070" />
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/strawberrycheesecake2.jpg?291396003632013070" />
</div>
<h3>Strawberry Cheesecake</h3>
</div>
      

      
      
      
<div class="mini">
<div class="cutaway">
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/julie1.jpg?15543308238646360761" />
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/julie2.jpg?15543308238646360761" />
</div>
       <h3>Julie</h3>
        <p>Cocoa Rice Krispy</p>
</div>




              <div class="mini">
<div class="cutaway">
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/diana1.jpg?15543308238646360761" />
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/diana2.jpg?15543308238646360761" />
</div>
       <h3>Diana</h3>
        <p>Nutella Pound Cake</p>
</div>


<div class="mini">
<div class="cutaway">
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/gwen1.jpg?15543308238646360761" />
<img src="https://cdn.shopify.com/s/files/1/1418/7404/files/gwen2.jpg?15543308238646360761" />
</div>
        <h3>Gwen</h3>
        <p>Coconut Fudge</p>
</div>

      </div>
      
    
  </section>
